<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="profile" text-center>
        <div id="wrapper" class="fixed-content">
            <ion-icon *ngIf="!isOtherProfile" (click)="goToUpdateProfile()" id="update-profile" name="ios-create-outline"></ion-icon>
            <button ion-button class="follow-button" *ngIf="isOtherProfile && !isFollowing" (click)='follow()' block>Follow</button>
            <button ion-button class="follow-button" *ngIf="isOtherProfile && isFollowing" (click)='unFollow()' block>Unfollow</button>
            <div id="profile-header">
                <ion-item no-lines>
                    <ion-avatar>
                        <img [src]='profile.image' />
                    </ion-avatar>
                </ion-item>
                <ion-list text-center>
                    <ion-row>
                        <ion-label id="profile_name" class="no_margin">{{profile.name}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label id="profile_username" class="no_margin">@{{username}}</ion-label>
                    </ion-row>
                    <ion-row text-wrap>
                        <ion-label id="profile_bio" class="extra_padding">{{profile.bio}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label id="profile_location" class="no_margin">{{profile.location}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label id="profile_website" class="no_margin"><a [href]="profile.website">{{profile.website}}</a></ion-label>
                    </ion-row>
                </ion-list>
            </div>
        </div>
    </div>
    <ion-footer>
        <ion-segment *ngIf="userNumbers" color="light">
            <ion-segment-button (click)="goToFollowing()" value="Following">Following <span class="user-numbers-segment">{{userNumbers.following}}</span></ion-segment-button>
            <ion-segment-button (click)="goToFollowers()" value="Followers">Followers <span class="user-numbers-segment">{{userNumbers.followers}}</span></ion-segment-button>
            <ion-segment-button (click)="goToKweets()" value="Kweets">Kweets <span class="user-numbers-segment">{{userNumbers.kweets}}</span></ion-segment-button>
        </ion-segment>
    </ion-footer>
</ion-content>
