.ios, .md, .android {
    page-profile {

        #wrapper {
            height: 100%;
            color: #ffffff;
            background: #27627F;
        }

        ion-avatar > img {
            margin: auto;
            width: 125px;
            height: auto;
        }

        ion-segment {
            background-color: #ffffff;
        }

        ion-icon:before {
            font-size: 0.4em !important;
        }

       .no_margin {
            margin: 0 !important;
            padding: 0 !important;
        }

        .extra_padding {
            padding: 0.75em !important;
        }

        #profile-header {
            margin: auto !important;
            padding: 2em;
        }

        #profile_name {
            font-size: 2.25em;
        }

        #profile_username {
            font-size: 1.25em;
        }

        #profile_location {
            font-size: 1.15em;
        }

        #profile_website > a {
            font-size: 1.15em;
            color: #ffffff;
        }

        .icon {
            font-size: 50px;
         }

        ion-item, ion-list {
            background-color: transparent;
        }

        .user-numbers-segment {
            color: #992F2F;
            padding-left: 0.5em;
            font-size: 1.25em;
        }

        /* For browser */
        #profile-header > ion-list {
            max-width: 500px;
            margin: auto;
        }

        ion-segment-button:hover {
            color: #992F2F;
        }

        .segment-content {
            padding: 2.5em;
        }
    }
}

