<ion-header>
    <ion-navbar>
        <ion-searchbar #searchbar (ionFocus)="searchbarFocus()" [(ngModel)]="filtertext" [showCancelButton]="true"></ion-searchbar>
        <ion-buttons end>
            <button ion-button round (click)="logout()">Logout</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-segment [(ngModel)]="selectedSegment" color="primary">
        <ion-segment-button (click)="refreshUserTotals()" value="Dashboard">
            Dashboard
        </ion-segment-button>
        <ion-segment-button (click)="refreshTrends()" value="Trends">
            Trends
        </ion-segment-button>
        <ion-segment-button (click)="refreshTimeline()" value="Timeline">
            Timeline
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedSegment === 'Dashboard'">
        <ion-card>
            <ion-card-header>What are are you doing?</ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-input [(ngModel)]="newKweetmessage" type="" placeholder="Kweeter kweeter kweet...."></ion-input>
                </ion-item>
                <button ion-button round (click)="postKweet()">Kweet!</button>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="lastkweet" color="light">
            <ion-card-header>Your last kweet was {{lastkweet.timeago}} hours ago...</ion-card-header>
            <ion-card>
                <ion-card-content>
                    <ion-item class='kweet-header'>
                        <ion-avatar *ngIf="lastkweet.profileImage" item-start>
                            <img class='kweet-profileImage' alt="" [src]='lastkweet.profileImage'>
                        </ion-avatar>
                        <ion-avatar *ngIf="!lastkweet.profileImage" item-start>
                            <img class='kweet-profileImage' src='assets/imgs/logo.png'>
                        </ion-avatar>
                        <span *ngIf="lastkweet.profileName" (click)='goToProfile(lastkweet.username)' class='kweet-profileName'>{{lastkweet.profileName}}</span>
                        <span *ngIf="!lastkweet.profileName" (click)='goToProfile(lastkweet.username)' class='kweet-profileName'>{{lastkweet.username}}</span>
                        <br>
                        <span (click)='goToProfile(lastkweet.username)' class='kweet-username'>@{{lastkweet.username}}</span>
                    </ion-item>
                    <ion-item>
                        <ion-list class='kweet-word' *ngFor="let word of lastkweet.message.split(' ')">
                            <span *ngIf="word.startsWith('@')" (click)="goToProfile(word.substr(1))" class="kweet-word-mention">{{word}}</span>
                            <span *ngIf="word.startsWith('#')" (click)="searchHashtag(word.substr(1))" class="kweet-word-hashtag">{{word}}</span>
                            <span *ngIf="!word.startsWith('@') && !word.startsWith('#')">{{word}}</span>
                        </ion-list>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear small>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div *ngIf="lastkweet.hearts" >{{lastkweet.hearts.length}} Likes</div>
                    </button>
                        </ion-col>
                        <ion-col center text-right>
                            <ion-note>
                                {{lastkweet.timeago}} ago <br> {{lastkweet.postDate}}
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-card>
        <ion-segment *ngIf="usertotals" color="secondary">
            <ion-segment-button (click)="goToFollowing()" value="Following">
                Following {{usertotals.following}}
            </ion-segment-button>
            <ion-segment-button (click)="goToFollowers()" value="Followers">
                Followers {{usertotals.followers}}
            </ion-segment-button>
            <ion-segment-button (click)="goToKweets()" value="Kweets">
                Kweets {{usertotals.kweets}}
            </ion-segment-button>
            <!-- <ion-segment-button (click)="goToMentions()" value="Mentions">
                Mentions {{usertotals.mentions}}
            </ion-segment-button> -->
        </ion-segment>
    </div>
    <div *ngIf="selectedSegment === 'Timeline'">
        <ion-list *ngFor="let kweet of timeline">
            <ion-card>
                <ion-card-content>
                    <ion-item class='kweet-header'>
                        <ion-avatar *ngIf="kweet.profileImage" item-start>
                            <img class='kweet-profileImage' alt="" [src]='kweet.profileImage'>
                        </ion-avatar>
                        <ion-avatar *ngIf="!kweet.profileImage" item-start>
                            <img class='kweet-profileImage' src='assets/imgs/logo.png'>
                        </ion-avatar>
                        <span *ngIf="kweet.profileName" (click)='goToProfile(kweet.username)' class='kweet-profileName'>{{kweet.profileName}}</span>
                        <span *ngIf="!kweet.profileName" (click)='goToProfile(kweet.username)' class='kweet-profileName'>{{kweet.username}}</span>
                        <br>
                        <span (click)='goToProfile(kweet.username)' class='kweet-username'>@{{kweet.username}}</span>
                    </ion-item>
                    <ion-item class='kweet-message'>
                        <ion-list class='kweet-word' *ngFor="let word of kweet.message.split(' ')">
                            <span *ngIf="word.startsWith('@')" (click)="goToProfile(word.substr(1))" class="kweet-word-mention">{{word}}</span>
                            <span *ngIf="word.startsWith('#')" (click)="searchHashtag(word.substr(1))" class="kweet-word-hashtag">{{word}}</span>
                            <span *ngIf="!word.startsWith('@') && !word.startsWith('#')">{{word}}</span>
                        </ion-list>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear small>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div *ngIf="kweet.hearts" >{{kweet.hearts.length}} Likes</div>
                    </button>
                        </ion-col>
                        <ion-col center text-right>
                            <ion-note>
                                {{calculateTimeAgo(kweet.postDate)}} ago <br> {{formatDate(kweet.postDate)}}
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="loadMoreTimelineItems($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <ion-list *ngFor="let user of users">
        <ion-card [hidden]="!Match(user)" (click)="goToUser(user)">
            <ion-row>
                <ion-col>
                    <h2>{{user.name}}</h2>
                </ion-col>
                <ion-col>
                    <h2>{{user.profilename}}</h2>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-list *ngFor="let trend of trends; let i = index">
        <ion-card *ngIf="selectedSegment === 'Trends'">
            <ion-row>
                <div class="trend-index">{{i + 1}}</div>
                <ion-col style="padding: 0.85em;">
                    <span class="trend-name" (click)="searchHashtag(trend.name)">#{{trend.name}}</span><br>
                    <span class="trend-timesUsed">{{trend.timesUsed}} kweets</span>
                </ion-col>
                <ion-col>
                    <ion-note class="trend-lastUsed">Last used {{calculateTimeAgo(trend.lastUsed)}} ago</ion-note>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>
