.ios, .md, .android {
    page-search {

        .kweet-username {
            font-size: 0.9em;
            opacity: 0.5;
        }

        .kweet-profileName {
            font-size: 1.35em;
        }

        .kweet-profileImage {
            width: 3.25em;
            height: 3.25em;
        }

        .kweet-header span:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .kweet-message {
            font-size: 1.25em;
        }

        .kweet-word {
            display: initial !important;
        }

        .kweet-word-mention:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .kweet-word-mention {
            color: #3F6FC2;
        }

        .kweet-word-hashtag:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .kweet-word-hashtag {
            color: #27627F;
        }
    }
}
